.thread {
ion-list{
          margin-left:-20px;
        margin-right:-20px;

        padding: 0;
        height: 100%; 
    }
 ion-card1 {
      
        border-radius:0px;
        border-left:10px;
        border-right: 0px;width: 110%;
        height: 100%;  background-color: blue;
    }
}
