<ion-header>
  <ion-navbar no-border-bottom>

    <button menuToggle>
        <ion-icon name='menu'></ion-icon>
    </button>
    <ion-segment [(ngModel)]="segment" (ionChange)="filterThreads(segment)">
      <ion-segment-button value="all" checked>
        Todo
      </ion-segment-button>
      <ion-segment-button value="favorites" danger>
        Para hoy
      </ion-segment-button>
    </ion-segment>

  </ion-navbar>
</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="reloadThreads($event)" *ngIf="segment=='all'">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="loading">
    <img src="https://d13yacurqjgara.cloudfront.net/users/295041/screenshots/1288716/1.gif" style="display:block; margin:auto"
    />
  </div>

  <ion-list style=" margin-left:-20px;margin-right:-20px;padding: 0;height: 100%; " *ngIf="!loading">
    <forum-thread *ngFor="let thread of threads" [thread]="thread"></forum-thread>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="fetchNextThreads($event)" threshold="10px" *ngIf="(start > 0) && (queryText.trim().length == 0) && segment=='all' && internetConnected">
    <ion-infinite-scroll-content ></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>