@font-face {
  font-family: "SasonIcons";
  src: url('../fonts/SasonIcons.eot');
  src: url('../fonts/SasonIcons.eot?#iefix') format('eot'),
  url('../fonts/SasonIcons.woff2') format('woff2'),
  url('../fonts/SasonIcons.woff') format('woff'),
  url('../fonts/SasonIcons.ttf') format('truetype'),
  url('../fonts/SasonIcons.svg#SasonIcons') format('svg');
}

@mixin ag-styles {
  font-family: "SasonIcons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
  text-decoration: none;
  text-transform: none;
}

%ag {
  @include ag-styles;
}

@function ag-char($filename) {
  $char: "";

  @if $filename == badge {
  $char: "\E001";
}
  @if $filename == chef {
  $char: "\E002";
}
  @if $filename == chef1 {
  $char: "\E003";
}
  @if $filename == cooker {
  $char: "\E004";
}
  @if $filename == fork-and-knife-like {
  $char: "\E005";
}
  @if $filename == fork-and-knife-restaurant {
  $char: "\E006";
}
  @if $filename == gusta {
  $char: "\E007";
}
  @if $filename == knife-and-fork-bad {
  $char: "\E008";
}
  @if $filename == knife-fork-like {
  $char: "\E009";
}
  @if $filename == medal {
  $char: "\E00A";
}
  @if $filename == restaurant-app {
  $char: "\E00B";
}

@return $char;
}

@mixin ag($filename, $insert: before, $extend: true) {
&:#{$insert} {
  @if $extend {
    @extend %ag;
  } @else {
    @include ag-styles;
  }
  content: ag-char($filename);
}
}

.ag-badge {
  @include ag(badge);
}
.ag-chef {
  @include ag(chef);
}
.ag-chef1 {
  @include ag(chef1);
}
.ag-cooker {
  @include ag(cooker);
}
.ag-fork-and-knife-like {
  @include ag(fork-and-knife-like);
}
.ag-fork-and-knife-restaurant {
  @include ag(fork-and-knife-restaurant);
}
.ag-gusta {
  @include ag(gusta);
}
.ag-knife-and-fork-bad {
  @include ag(knife-and-fork-bad);
}
.ag-knife-fork-like {
  @include ag(knife-fork-like);
}
.ag-medal {
  @include ag(medal);
}
.ag-restaurant-app {
  @include ag(restaurant-app);
}